
.left-buttons{
    margin-right: 0px !important;
}
.right-buttons{
    margin-left: 5px !important;
}
.menu-title{
    display: none;
}

.fa-github{
    font-size: 18px !important;
}

.custom-rounded{
    border-radius: 15px;
}

.light{
    --bg: #fff;
    --fg: #000;
    --sidebar-bg: #f3f3f3;
    --sidebar-active: #3731fd;
    --links: #3731fd;
    
    --icons: #7e7e7e;
    --icons-hover: #000000;
    --theme-hover: #f3f3f3;
    --quote-bg: #f3f3f3;
    --quote-border: #d5d5d5;
    --theme-popup-bg: white;
    --inline-code-color: black;
}

.coal {
  --bg: #000000;
  --fg: #e5e5e5;
  --sidebar-bg: hsl(0, 0%, 7%);
  --sidebar-fg: #b9b9b9;
  --theme-hover: hsl(0, 0%, 7%);
  --sidebar-active: #809AFF;
  --sidebar-header-border-color: #424242;
  --links: #5282f2;
  --icons: #777;
  --icons-hover: #ffffff;
  --searchbar-bg: hsl(0, 0%, 7%);
  --searchbar-fg: #ffffff;
  --quote-bg: hsl(0, 0%, 10%);
  --quote-border: #353535;
  --theme-popup-bg: hsl(0, 0%, 0%);
  --inline-code-color: white;
  
}

.on-this-page{
    border-inline-start: 2px solid var(--sidebar-header-border-color);
}

#searchbar{
    outline: none;
    border-radius: 6px;
}
#searchbar:focus{
    border-color: white;
}

code, .hljs{
    color: var(--inline-code-color);
    background: var(--quote-bg);
    border: 1px solid var(--quote-border);
    border-radius: 5px;
    padding: 0.5em 0.8em;
}

#navy, #rust, #ayu, #mdbook-theme-navy, #mdbook-theme-rust, #mdbook-theme-ayu{
    display: none;
}

hr{
    margin: 10rem 0;
    border-color: var(--quote-border);
}
.blockquote-tag{
    border-inline-start-width: 2px;
}

h1,h2{
    a{
        color: var(--sidebar-active) !important;
    }
}
main > h1:first-of-type{
    margin-block-start: 8rem;
}
h1{
    margin-block-start: 12rem;
}

h2 {
    margin-block-start: 12rem;
}

h3{
    margin-block-start: 6rem;
}

